<h3>Add a Break</h3>
<%= form_tag({:action => 'break_add'}, :multipart => true) %>
<table><tr><td>
	Project id: </td><td><%= text_field_tag('project_id', '') %></td></tr><tr><td>
	Break days number: </td><td><%= text_field_tag('break_days_number', '') %></td></tr><tr><td colspan=2>
	<%= submit_tag "Add" %></td></tr>
</table>
</form>

<h3>Edit Breaks</h3>
<% @on_hold_projects.each do |on_hold_project_struct| %>
	<%= form_tag({:action => 'break_update'}, :multipart => true) %>
		<%= hidden_field_tag('break_id', on_hold_project_struct.on_hold_project.id) %>
		<%= on_hold_project_struct.project.id %> - <%= on_hold_project_struct.project.name %>
		<%= text_field_tag('break_days', on_hold_project_struct.on_hold_project.total) %>
		<%= submit_tag "Save" %>
		<%= submit_tag "Delete" %>
		<% if on_hold_project_struct.on_hold_project.aq_mode %>

		<% end %>
	</form>
<% end %>