<SCRIPT language="Javascript">
function reason_one_select(reason_one_id)
{
  location.replace("milestone_delay_config?reason_one_id="+reason_one_id);
}
</SCRIPT>

<h2>Milestone delays export</h2>

<% if params["error_empty"] %>
<span style="color:red;">No milestone delays to export</span><br/><br/>
<% end %>

Select a period, to let empty for overall view (yyyy-mm-dd).<br/>
<% form_tag(:action=>'export_mdelays_excel') do %>
<table><tr><td>
From <%= text_field 'delay_from', '', {:style=>"width:100px"} %></td><td>
To <%= text_field 'delay_to', '', {:style=>"width:100px"} %></td><td>
<%= submit_tag "Excel export", :name => 'export' %>
</td></tr></table>
<% end %>

<h2>Milestone delays reasons - Admin module for Milestone Delays</h2>

<% form_tag(:action=>'milestone_delay_config') do %>
<%= submit_tag 'Reset', :name => 'reset' %>
<br/><br/>
  <%= select_tag("select_reason_one", options_for_select(@reason_ones.map{|reason| [reason.reason_description, reason.id ]}.insert(0, ""), @reason_one_selected), {:onchange=>"reason_one_select(this.value)", :style=>"width:185px"}) %>

  <%= select_tag("select_reason_two", options_for_select(@reason_twos.map{|reason| [reason.reason_description, reason.id ]}.insert(0, "")), {:style=>"width:185px"}) %>
  <br/>

  <%= text_field_tag 'reason_one', '' %>
  <%= text_field_tag 'reason_two', '', :readonly => @area_disabled_two %>

  <br/><br/>
  <%= submit_tag 'Add', :name => 'add' %>
  <br/><br/>
  <%= submit_tag 'Remove', :name => 'remove' %>
  <br/><br/>
  <u>Note</u>: if you remove a lvl1 reason all lvl2 reasons linked are removed.
<% end %>

<br/><br/><br/><br/><br/><br/>
<h2>Old delay export</h2>

Select a period, to let empty for overall view (yyyy-mm-dd).<br/>
<% form_tag(:action=>'export_delays_excel') do %>
<table><tr><td>
From <%= text_field 'delay_from', '', {:style=>"width:100px"} %></td><td>
To <%= text_field 'delay_to', '', {:style=>"width:100px"} %></td><td>
<%= submit_tag "Excel export", :name => 'export' %>
</td></tr></table>
<% end %>