<script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var $j = jQuery.noConflict();
</script>
<script src="/javascripts/tool.js"></script>

<script type="text/javascript">
$j(document).ready(function (){

});
</script>

<h3>Delay reasons</h3>

<% form_tag(:action=>'milestone_delay_config') do %>
  <%= select_tag ("reason_one", options_for_select(@reason_ones)) %>
  <%= select_tag ("reason_two", options_for_select(@reason_twos)) %>
  <%= text_area :reason, :reason, {:rows=>1} %>
  <%= submit_tag 'Add', :name => 'add' %>
  <%= submit_tag 'Remove', :name => 'remove' %>
  <%= submit_tag 'Reset', :name => 'reset' %>
<% end %>

<u>Note</u>: if you remove a lvl1 reason, all lvl2 and lvl3 reasons linked are removed.

<!--
<ul>
<% @milestone_delay_reason_ones.each do |mdr_o| %>
	<li> mdr_o.reason_description: 
		<ul>
		<% @milestone_delay_reason_twos.each do |mdr_t| %>
			<% if mdr_t.reason_one_id == mdr_o.id %>
			<li> mdr_t.reason_description: 
				<ul>
					<% @milestone_delay_reason_threes.each do |mdr_th| %>
						<% if mdr_t.reason_two_id == mdr_t.id %>
							<li> mdr_th.reason_description </li>
						<% end %>
					<% end %>
				</ul>
			</li>
			<% end %>
		<% end %>
		</ul>
	</li>
<% end %>
</ul>
-->