<div><%= link_to "Back to scripts", {:action => "scripts"} %></div>
<br/><br/>

<h2>Spiders removed</h2>

<% if @number_of_spiders_removed > 0 %>
	<%= "<strong>Svt Spiders removed: <span style='color:red'>" + @number_of_spiders_removed.to_s + "</span></strong>" %>
<% end %>
<br/><br/>
<% if @consos_freelance and @consos_freelance.count > 0 %>
<% @consos_freelance.each do |conso| %>
	<%= conso.score.to_s %> - <%= conso.justification %> - <%= conso.created_at.to_s %><br/>
<% end %>
<% end %>