<div><%= link_to "Back to scripts", {:action => "scripts"} %></div>
<br/><br/>

<h2>Spiders removed</h2>

<% if @number_of_spiders_removed > 0 %>
	<%= "<strong>Svt Spiders removed: " + @number_of_spiders_removed.to_s + "</strong>" %>
<% end %>
<br/><br/>
<% if @consos_freelance and @consos_freelance.count > 0 %>
<% @consos_freelance.each do |conso| %>
	<strong><%= conso.svt_deviation_spider_id.to_s %></strong>
	 <% if conso.svt_deviation_deliverable_id %>- Deliverable:<%= conso.svt_deviation_deliverable.name %> <% end %>
	 <% if conso.svt_deviation_activity_id %>- Macro-obective:<%= conso.svt_deviation_activity.name %> <% end %>
	 <% if conso.score %>- Score:<%= conso.score.to_s %> <% end %>
	 <% if conso.justification %>- Justification:<%= conso.justification %> <% end %>
	 - Created:<%= conso.created_at.to_s %><br/>
<% end %>
<% end %>