<%= hidden_field :milestone, :project_id %>

<p><%= label_tag 'planned date' %>
<%= text_field :milestone, :milestone_date %> yyyy-mm-dd</p>

<p><%= label_tag 'current date' %>
<%= text_field :milestone, :actual_milestone_date %> yyyy-mm-dd</p>

<p><%= label_tag 'done' %>
<%= radio_button(:milestone, :done, 0) %> not done yet
<%= radio_button(:milestone, :done, 1) %> done
<%= radio_button(:milestone, :done, 2) %> will not be done and is justified
</p>

<p><%= label_tag 'status' %>
<%= select(:milestone, :status, [['no request',-1], ['unknown',0], ['GO',1], ['GO w/a',2], ['NO GO',3]]) %></p>

<p><%= label_tag 'current quality status' %>
<%= select(:milestone, :current_quality_status, [['Unknown'], ['Green'], ['Amber'], ['Red']]) %>
Actual quality status: <%= @quality_status%>
</p>

<p><%= label_tag 'comments' %>
<%= text_area :milestone, :comments, {:rows=>3} %></p>