<%= hidden_field :activity, :id %>

<p><%= label_tag 'Meta-Activity' %>
<%= select(:activity, :deviation_meta_activity_id, @meta_activities) %>
</p>

<p><%= label_tag 'Name' %>
<%= text_field :activity, :name %> </p>

<p><%= label_tag 'Is active' %>
<%= radio_button :activity, :is_active, true %> Yes
<%= radio_button :activity, :is_active, false %> No
</p>
