<tr class="<%= p.css_class %>">
	<td align="right"><b><%=link_to(p.extract_mantis_external_id, "https://sqli.steering-project.com/mantis/view.php?id=#{p.internal_id}")%></b></td>
	<td><% if p.strategic==1 %><%=image_tag('danger.gif')%><%end%></td>
	<td><%= p.status %></td>
	<td><%= p.visibility %></td>
	<td><%= p.assigned_to %></td>
	<td><%=link_to(p.summary, :controller => "ci_projects", :action=>"show", :id=>p.id) %></td>
	<td><b><%= p.short_stage %></b></td>
	<% if !p.sqli_validation_date || p.sqli_date_alert == 1 %>
		<td class="<%=CiProject.late_css(p.sqli_validation_date_objective)%>"><b><%= p.sqli_validation_date_objective %></b></td>
	<%else%>
		<td class="<%=CiProject.late_css(p.sqli_validation_date)%>"><b><%= p.sqli_validation_date %></b></td>
	<%end%>
	<% if !p.airbus_validation_date || p.airbus_date_alert == 1 %>
		<td class="<%=CiProject.late_css(p.airbus_validation_date_objective)%>"><b><%= p.airbus_validation_date_objective %></b></td>
	<%else%>
		<td class="<%=CiProject.late_css(p.airbus_validation_date)%>"><b><%= p.airbus_validation_date %></b></td>
	<%end%>
	<% if !p.deployment_date || p.deployment_date_alert == 1 %>
		<td class="<%=CiProject.late_css(p.deployment_date_objective)%>"><b><%= p.deployment_date_objective %></b></td>
	<%else%>
		<td class="<%=CiProject.late_css(p.deployment_date)%>"><b><%= p.deployment_date %></b></td>
	<%end%>
	<td> <%= p.kick_off_date %> </td>
	<td><% if p.planning_validated %>
		Yes
	<% else %>
		No
	<% end %></td>
	<td><%= link_to(image_tag('edit.gif'), :controller => "ci_projects", :action=>"edit", :id=>p.id)%></td>
</tr>
