<table><tr><td>
	<table>
  	<tr><td><h4>Dates</h4></td></tr>
	<tr><td>SQLI validation date objective (yyyy-mm-dd)</td><td>	<%= text_field :project, :sqli_validation_date_objective %></td></tr>
	<tr><td>SQLI validation date (yyyy-mm-dd)</td><td>				<%= text_field :project, :sqli_validation_date %></td></tr>
	<tr><td>Airbus validation date objective (yyyy-mm-dd)</td><td><%= text_field :project, :airbus_validation_date_objective %></td></tr>
	<tr><td>Airbus validation date (yyyy-mm-dd)</td><td>					<%= text_field :project, :airbus_validation_date %></td></tr>
	<tr><td>Deployment date objective (yyyy-mm-dd)</td><td>	<%= text_field :project, :deployment_date_objective %></td></tr>
	<tr><td>Deployment date (yyyy-mm-dd)</td><td>				<%= text_field :project, :deployment_date %></td></tr>
	</table>
</td><td>
	<table>
	<tr><td><h4>Information</h4></td></tr>
	<tr><td>Backlog request ID</td><td>				<%= text_field :project, :backlog_request_id %></td></tr>
	<tr><td>Assigned to</td><td>				<%= select(:project, :assigned_to, @qr_list.map {|p| [p.rmt_user]}, :include_blank=>true) %></td></tr>
	<tr><td>
	Strategic</td><td>
	<% if @project.strategic == 0 %>
	<%= radio_button :project, :strategic, 0 %> No
	<%= radio_button :project, :strategic, 1 %> Yes
	<% else %>
	<%= radio_button :project, :strategic, 1 %> Yes
	<%= radio_button :project, :strategic, 0 %> No
	<% end %>
	</td></tr><tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr>
	</table>
</td></tr>
</table>





