<table><tr><td>
	<table>
  	<tr><td><h4>Dates</h4></td></tr>
  	<tr><td>Kick-off date (yyyy-mm-dd)</td><td>	<%= text_field :project, :kick_off_date %></td></tr>
  	<tr><td>Launching date (dd-mm-yyyy)</td><td>	<%= text_field :project, :launching_date_ddmmyyyy %></td></tr>
	<tr><td>SQLI validation date objective (yyyy-mm-dd)</td><td>	<%= text_field :project, :sqli_validation_date_objective %></td></tr>
	<tr><td>SQLI validation date (yyyy-mm-dd)</td><td>				<%= text_field :project, :sqli_validation_date %></td></tr>
	<tr><td>Airbus validation date objective (yyyy-mm-dd)</td><td><%= text_field :project, :airbus_validation_date_objective %></td></tr>
	<tr><td>Airbus validation date (yyyy-mm-dd)</td><td>					<%= text_field :project, :airbus_validation_date %></td></tr>
	<tr><td>Deployment date objective (yyyy-mm-dd)</td><td>	<%= text_field :project, :deployment_date_objective %></td></tr>
	<tr><td>Deployment date (yyyy-mm-dd)</td><td>				<%= text_field :project, :deployment_date %></td></tr>
	</table>
</td><td valign="top">
	<table>
	<tr><td><h4>Information</h4></td></tr>
	<tr><td>Backlog request ID</td><td>				<%= text_field :project, :backlog_request_id %></td></tr>
	<tr><td>Assigned to</td><td>				<%= select(:project, :assigned_to, @qr_list.map {|p| [p.rmt_user]}, :include_blank=>true) %></td></tr>
	<tr><td>
	Strategic</td><td>
	<% if @project.strategic == 0 %>
	<%= radio_button :project, :strategic, 0 %> No
	<%= radio_button :project, :strategic, 1 %> Yes
	<% else %>
	<%= radio_button :project, :strategic, 1 %> Yes
	<%= radio_button :project, :strategic, 0 %> No
	<% end %>
	</td></tr>
	<tr><td>Priority</td><td>				<%= select(:project, :priority, ['Low', 'Normal', 'High', 'Urgent']) %></td></tr>
	<tr><td>CI Objectives 2014</td><td>				<%= text_area(:project, :ci_objectives_2014, {:cols=>50, :rows=>8}) %></td></tr>
	</table>
</td></tr>
</table>





