<%= render(:file=>"tools/sdp_menu.erb") %>
<%= link_to_function("Import", "$('import').toggle();", :class=>"btnlnk") %>
<%= link_to("Export", {:action=>"mantis_export"}, :class=>"btnlnk") %>
<div id="import" style="display:none;">
	<table><tr><td colspan="2">
	<h2>Import</h2></td></tr>
	<tr><td>
	<%= form_tag({:action => 'do_upload'}, :multipart => true) %>
	    <label for="upload_file">Mantis CSV (MS DOS)</label>
	    <%= file_field 'upload', 'datafile' %>
	    <%= submit_tag "Upload" %>
	</form>
	</td><td>
	<%= form_tag({:action => 'do_upload_backlog'}, :multipart => true) %>
	    <label for="upload_file">Backlog CSV (MS DOS)</label>
	    <%= file_field 'upload', 'datafile' %>
	    <%= submit_tag "Upload" %>
	</form>
	</td></tr></table>
</div>

<h2>Projects list</h2>
<%= render(:file=>'ci_projects/ci_header') %>
	<%= render(:partial=>"ci_project", :collection=>@projects, :as=>:p) %>
</table>
