<input type="button" value="Select table" onclick="selectElementContents(document.getElementById('copy_table'));" />
<table id="copy_table">
<tr>
	<th>Req Backlog</th>
	<th>Priority</th>
	<th>CCB / Quick Fix</th>
	<th>Req -- # - CI Name</th>
	<th>Dependent CI</th>
	<th>Date Start</th>
	<th>Current Phase</th>
	<th>Next Phase</th>
	<th>Owner</th>
	<th>Estimated AIRBUS Validation Date</th>
	<th>Estimated Deployment Date<th>
	<th>Details</th>		
</th>

<% @ci_projects.each do |ci| %>
	<tr>
		<td><%= ci.num_req_backlog %></td>
		<td><%= ci.priority %></td>
		<td><%= ci.quick_fix %></td>
		<td>#<%= ci.external_id.to_s%> - <%= ci.summary %></td>
		<td></td>
		<td><%= ci.launching_date_ddmmyyyy.to_s %></td>
		<td><%= ci.report %></td>
		<td><%= ci.previous_report %> </td>
		<td><%= ci.assigned_to %></td>
		<td><%= ci.airbus_validation_date.to_s %></td>
		<td><%= ci.deployment %></td>
		<td></td>
	</tr>
<% end %>

</table>