<SCRIPT language="Javascript">
function dateChanged(date_title, date_objective, date)
{
	if(date_title == "sqli_justif"){
		var old_date = "<%= @project.sqli_validation_date.to_s %>"
	} else if(date_title == "airbus_justif"){
		var old_date = "<%= @project.airbus_validation_date.to_s %>"
	} else if(date_title == "deployment_justif"){
		var old_date = "<%= @project.deployment_date.to_s %>"
	}

	if(old_date == ""){
		var old_date1 = ""
	} else {
		var old_date1 = new Date(old_date)
	}

	var date1 = new Date(date)
	var date2 = new Date(date_objective)

	if(old_date1 == ""){
		if (date1 > date2){
			$(date_title).style.display='table-row';
		}
	} else if(old_date1 != ""){
		if (date1 > old_date1){
			$(date_title).style.display='table-row';
		}
	}
}
</SCRIPT>

<h2>Edit CI : 
<%= @project.extract_mantis_external_id %> | <%= @project.summary %>
</h2>

<% form_for @project, :url=>{:action=>'update', :id=>@project.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Save' %></p>
<% end -%>
