<% if current_user.has_role?('Admin') or current_user.has_role?('CI Manager') %>
	<%= link_to('Configure', {:action=>'timeline_config'}, {:class=>'menu grey'}) %>
	<br/>
<% end %>

<h1>Continuous Improvement Timeline (<%= Date.today.strftime("%d-%m-%Y") %>)</h1>

<table class="timeline_table">
	<tr>
		<th class="timeline_th_links"></th>
		<th class="timeline_th_summary">#ID - CI Name</th>
		<th class="timeline_th">Responsible</th>
		<th class="timeline_th">Validator</th>
		<th class="timeline_th">Kick-off date</th>
		<th class="timeline_th">Status</th>
		<th class="timeline_th">Validation date delay (vs initial date in weeks)</th>
		<th class="timeline_th">Deployment date delay (vs initial date in weeks)</th>
		<th class="timeline_th">Planning external validation</th>
		<% @dates.each do |date| %>
			<th class="timeline_th_date">
			<span class="<%= date.date_th_span %>"><%= date.date_string %></span>
			</th>
		<% end %>
	</tr>

	<% first_related = true %>
	<% @timeline_projects_sorted.each do |project| %>
	<% blue_box = project.in_progress %>

	<% if project.link_type == 1 or (project.link_type == 3 and first_related == true) %>
		<% first_related = false %>
		<tr class="timeline_tr_top">
	<% elsif project.link_type == 2 or (project.link_type == 3 and first_related == false) %>
		<% first_related = true %>
		<tr class="timeline_tr_bot">
	<% else %>
		<tr class="timeline_tr">
	<% end %>
		<!-- 0 = nothing, 1 = father, 2 = son, 3 = brother -->
		<% if project.link_type == 2 %>
			<td>
			<img src="/images/arrow.png" style="width:20px;height:20px;"></td>
			<td><%= project.id %> - <%= project.name %></td>
		<% elsif project.link_type == 3 %>
			<td>
			<img src="/images/arrow_double.png" style="width:20px;height:17px;"></td>
			<td><%= project.id %> - <%= project.name %></td>
		<% else %>
			<td colspan=2><%= project.id %> - <%= project.name %></td>
		<% end %>
		<td class="timeline_td"><%= project.responsible %></td>
		<td class="timeline_td"><%= project.validator %></td>
		<% if project.start_date %>
			<td class="timeline_td"><%= project.start_date.strftime("%d-%m-%Y") %></td>
		<% else %>
			<td class="timeline_td"><%= project.start_date %></td>
		<% end %>
		<td class="<%= project.status_color %>"><%= project.status %></td>
		<td class="<%= project.validation_date_delay_color %>"><%= project.validation_date_delay %></td>
		<td class="<%= project.deployment_date_delay_color %>"><%= project.deployment_date_delay %></td>
		<td class="timeline_td"><%= project.planning_external_validation %></td>
		<% @dates.each do |date| %>
			<% if blue_box == true and project.validation_date_week != date.date_week and project.deployment_date_week != date.date_week %>
				<% if date.date_week == project.id_start_to_show_week or date.date_week == project.id_finish_to_show_week %>
					<td class="timeline_td_progress_show_ci_id"><%= project.id %></td>
				<% else %>
					<td class="timeline_td_progress"></td>
				<% end %>
			<% elsif project.validation_date_week == date.date_week and project.deployment_date_week == date.date_week %>
				<td class="timeline_td_date_val_dep">VD</td>
				<% blue_box = false %>
			<% elsif project.start_date_week == date.date_week %>
				<td class="timeline_td_date_start">S</td>
				<% blue_box = true %>
			<% elsif project.validation_date_week == date.date_week %>
				<td class="timeline_td_date_val_dep">V</td>
				<% blue_box = false %>
			<% elsif project.deployment_date_week == date.date_week %>
				<td class="timeline_td_date_val_dep">D</td>
				<% blue_box = false %>
			<% else %>
				<td class="<%= date.date_td_span %>"></td>
			<% end %>
		<% end %>
	</tr>
	<% end %>
</table>

<br/><br/>

<table class="caption_table">
<tr>
	<td colspan=3 class="caption_title">Caption</td>
</tr><tr class="caption_tr">
	<td>
		<table>
		<tr>
			<td colspan=2 class="timeline_td_status_blank"><u>EISQ Status vs Change Request Airbus</u></td>
		</tr>
		<tr><td colspan=2></td></tr>
		<tr>
			<td class="timeline_td_status_lightblue">New</td>
			<td class="timeline_td_status_lightblue">Waiting Kick-off</td>
		</tr>
		<tr>
			<td class="timeline_td_status_lightblue">Qualification</td>
			<td class="timeline_td_status_lightblue">Waiting Kick-off</td>
		</tr>
		<tr>
			<td class="timeline_td_status_blue">Assigned</td>
			<td class="timeline_td_status_blue">Running</td>
		</tr>
		<tr>
			<td class="timeline_td_status_blue">Verified</td>
			<td class="timeline_td_status_blue">Running</td>
		</tr>
		<tr>
			<td class="timeline_td_status_blue">Validated</td>
			<td class="timeline_td_status_blue">Running</td>
		</tr>
		<tr>
			<td class="timeline_td_status_green">Delivered</td>
			<td class="timeline_td_status_green">Deployed</td>
		</tr>
		<tr>
			<td class="timeline_td_status_blank">Comment</td>
			<td class="timeline_td_status_blank">On hold</td>
		</tr>
		</table>
	</td>
	<td>
		<table>
		<tr>
			<td colspan=2 class="timeline_td_status_blank"><u>Weeks</u></td>
		</tr>
		<tr><td colspan=2></td></tr>
		<tr>
			<td>Current week</td>
			<td class="timeline_th_date_span_today"></td>
		</tr>
		<tr>
			<td>Date CCB</td>
			<td class="timeline_th_date_ccb"></td>
		</tr>
		<tr>
			<td>Date CCB deployment</td>
			<td class="timeline_th_date_ccb_deployment"></td>
		</tr>
		<tr><td colspan=2>&nbsp;</td></tr>
		<tr><td colspan=2>&nbsp;</td></tr>
		<tr><td colspan=2>&nbsp;</td></tr>
		<tr><td colspan=2>&nbsp;</td></tr>
		</table>
	</td>
	<td>
		<table>
		<tr>
			<td colspan=2 class="timeline_td_status_blank"><u>Project status</u></td>
		</tr>
		<tr><td colspan=2></td></tr>
		<tr>
			<td>Kick-off date</td>
			<td class="timeline_td_date_start">S</td>
		</tr>
		<tr>
			<td>In progress</td>
			<td class="timeline_td_progress"></td>
		</tr>
		<tr>
			<td>Airbus validation date</td>
			<td class="timeline_td_date_val_dep">V</td>
		</tr>
		<tr>
			<td>Deployment date</td>
			<td class="timeline_td_date_val_dep">D</td>
		</tr>
		<tr><td colspan=2>&nbsp;</td></tr>
		<tr><td colspan=2>&nbsp;</td></tr>
		</table>
	</td>
</tr>
</table>

