<%= link_to('Configure', {:action=>'timeline_config'}, {:class=>'menu grey'}) %>
<br/><br/>

<table class="timeline_table">
	<tr>
		<th class="timeline_th_summary">#ID - CI Name</th>
		<th class="timeline_th">Responsible</th>
		<th class="timeline_th">Validator</th>
		<th class="timeline_th">Start date</th>
		<th class="timeline_th">Status</th>
		<th class="timeline_th">Validation date delay (vs initial date in weeks)</th>
		<th class="timeline_th">Deployment date delay (vs initial date in weeks)</th>
		<th class="timeline_th">Planning external validation</th>
		<th class="timeline_th_separation"></th>
		<% @dates.each do |date| %>
			<th class="timeline_th_date">
			<span class="<%= date.date_th_span %>"><%= date.date_string %></span>
			</th>
		<% end %>
	</tr>

	<% @timeline_projects.each do |project| %>
	<% blue_box = project.in_progress %>
	<tr class="timeline_tr">
		<td>#<%= project.id %> - <%= project.name %></td>
		<td class="timeline_td"><%= project.responsible %></td>
		<td class="timeline_td"><%= project.validator %></td>
		<td class="timeline_td"><%= project.start_date %></td>
		<td class="timeline_td"><%= project.status %></td>
		<td class="timeline_td"><%= project.validation_date_delay %></td>
		<td class="timeline_td"><%= project.deployment_date_delay %></td>
		<td class="timeline_td"><%= project.planning_external_validation %></td>
		<td class="timeline_td_separation"></td>
		<% @dates.each do |date| %>
			<% if blue_box == true and project.validation_date_week != date.date_week and project.deployment_date_week != date.date_week %>
				<td class="timeline_td_progress"></td>
			<% elsif project.validation_date_week == date.date_week and project.deployment_date_week == date.date_week %>
				<td class="timeline_td_date_val_dep">VD</td>
				<% blue_box = false %>
			<% elsif project.start_date_week == date.date_week %>
				<td class="timeline_td_date_start">S</td>
				<% blue_box = true %>
			<% elsif project.validation_date_week == date.date_week %>
				<td class="timeline_td_date_val_dep">V</td>
				<% blue_box = false %>
			<% elsif project.deployment_date_week == date.date_week %>
				<td class="timeline_td_date_val_dep">D</td>
				<% blue_box = false %>
			<% else %>
				<td class="<%= date.date_td_span %>"></td>
			<% end %>
		<% end %>
	</tr>

	<% if project.id == "0" %>
		<% #raise project.deployment_date_week.to_s %>
	<% end %>

	<% end %>
</table>

