<% if @milestone_delays.count > 0 %>
  <table class="delay_table">
    <tr>
      <th class="delay_td">Project name</th>
      <th class="delay_td">Milestone</th>
      <th class="delay_td">Phase of identification</th>
      <th class="delay_td">Initial reason</th>
      <th class="delay_td">Reason after analysis</th>
      <th class="delay_td">Category 1</th>
      <th class="delay_td">Category 2</th>
      <th class="delay_td">Validation date</th>
      <th class="delay_td_reason">Comments</th>
      <th class="delay_td">Caption date</th>
      <th class="delay_td"></th>
    </tr>
    <% @milestone_delays.each do |mdelay_record| %>
      <tr class="delay_tr" id='mdelay_record_<%=mdelay_record.id.to_s%>'>
        <td class="delay_td"><%= mdelay_record.project.name %></td>
        <td class="delay_td">
          <% if mdelay_record.milestone %>
            <%= mdelay_record.milestone.name %>
          <% end %>
        </td>
        <td class="delay_td">
          <% if mdelay_record.phase %>
            <%= mdelay_record.phase.name %>
          <% end %>
        </td>
        <td class="delay_td"><%= mdelay_record.initial_reason %></td>
        <td class="delay_td"><%= mdelay_record.analysed_reason %></td>
        <td class="delay_td">
          <% if mdelay_record.mdelay_reason_one %>
            <%= mdelay_record.mdelay_reason_one.reason_description %>
          <% end %>
        </td>
        <td class="delay_td">
          <% if mdelay_record.mdelay_reason_two %>
            <%= mdelay_record.mdelay_reason_two.reason_description %>
          <% end %>
        </td>
        <td class="delay_td"><%= mdelay_record.validation_date.to_s %></td>
        <td class="delay_td_reason"><%= mdelay_record.comments %></td>
        <td class="delay_td"><%= mdelay_record.created_at.strftime("%d/%m/%Y") %></td>
        <td class="delay_td"><%= link_to(image_tag('edit.gif'), {:action=>'mdelay_record_edit', :project_id=>mdelay_record.project_id, :mdelay_record_id=>mdelay_record.id}) %> <%= link_to_remote(image_tag('delete.gif', {:style=>"float:right"}), :url=>{:action=>'mdelay_record_delete', :mdelay_record_id=>mdelay_record.id}, :confirm=>"Are you sure?", :success=>"$('mdelay_record_#{mdelay_record.id}').hide();") %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p> No milestone delays </p>
<% end %>