<SCRIPT language="Javascript">
function reason_one_select(reason_one_id)
{
	reason_one_id = parseInt(reason_one_id);

	var mdelay_cat_two = [<%= @positions.map(&:to_i).join(", ") %>];

	hide_all();

	var n = mdelay_cat_two.indexOf(reason_one_id);
	var select = "select_" + n;
	document.getElementById(select).show();
}

window.onload = function() {
	hide_all();

	var mdelay_cat_two = [<%= @positions.map(&:to_i).join(", ") %>];
	var n = mdelay_cat_two.indexOf(<%= @mdelay_record_show.mdelay_reason_one.id %>);
	var select = "select_" + n;
	document.getElementById(select).show();
}

function hide_all(){
	var mdelay_cat_two = [<%= @positions.map(&:to_i).join(", ") %>];
	for (i=0; i<mdelay_cat_two.length; i++){
		var select_to_hide = "select_" + i;
		document.getElementById(select_to_hide).hide();
	}
}
</SCRIPT>

<h2> Milestone delay record - [<%= @mdelay_record_show.workstream %>] <%= @mdelay_record_show.project_parent %> > <%= @mdelay_record_show.project.name %> </h2>

<%= form_tag({:action => 'mdelay_record_show_update'}, :multipart => true) %>
<% if @mdelay_record_show.mdelay_record_id != nil %>
<%= hidden_field_tag('mdelay_record_id', @mdelay_record_show.mdelay_record_id.to_s) %>
<% end %>
<table>
	<tr>
		<td>Milestone : <%= select_tag("milestone", options_for_select(@mdelay_record_show.project.milestones.map{ |option_w| [option_w.name, option_w.id]}.insert(0, ""), @mdelay_record_show.milestone.id), {:style=>"width:100px"}) %></td>
		<td>Pre/Post M5 : <%= select_tag("pre_post_gm_five", options_for_select(@pre_post_gm_five_select, :selected => @mdelay_record_show.pre_post_gm_five), {:style=>"width:100px"}) %></td>
	</tr>
	<tr>
		<td>Phase : <%= select_tag("phase", options_for_select(@phases.map{ |option_w| [option_w.name, option_w.id]}.insert(0, ""), @mdelay_record_show.phase.id), {:style=>"width:185px"}) %>
		<td>Impact on M13/G8 : <%= select_tag("deployment_impact", options_for_select(["", "Yes", "No"], :selected => @mdelay_record_show.deployment_impact), {:style=>"width:100px"}) %></td>
	</tr>
	<tr>
		<td colspan=2>Initial reason of delay : <%= text_area_tag('initial_reason', @mdelay_record_show.initial_reason, :cols=>57, :rows=>2) %></td>
	</tr>
	<tr>
		<td colspan=2>
			Why 1: <%= text_area_tag('why_one', @mdelay_record_show.why_one, :cols=>70, :rows=>1) %><br/>
			Why 2: <%= text_area_tag('why_two', @mdelay_record_show.why_two, :cols=>70, :rows=>1) %><br/>
			Why 3: <%= text_area_tag('why_three', @mdelay_record_show.why_three, :cols=>70, :rows=>1) %><br/>
			Why 4: <%= text_area_tag('why_four', @mdelay_record_show.why_four, :cols=>70, :rows=>1) %><br/>
			Why 5: <%= text_area_tag('why_five', @mdelay_record_show.why_five, :cols=>70, :rows=>1) %>
		</td>
	</tr>
	<tr>
		<td colspan=2>Reason of delay after analysis : <%= text_area_tag('analysed_reason', @mdelay_record_show.analysed_reason, :cols=>50, :rows=>2) %></td>
	</tr>
	<tr> <!-- CATEGORIES -->
		<td>Category 1 : <%= select_tag("select_reason_one", options_for_select(@reason_ones.map{|reason| [reason.reason_description, reason.id]}.insert(0, ""), @mdelay_record_show.mdelay_reason_one.id), {:onchange=>"reason_one_select(this.value)", :style=>"width:185px"}) %></td>
		<td>
			<% for i in 0..(@reason_ones.count-1)
				mdelay_array = @mdelay_rt[i]
				if mdelay_array %>
					<span id="select_<%= i.to_s %>">
						Category 2 : <%= select_tag "select_reason_two_#{i.to_s}", options_for_select(mdelay_array.map{ |option_w| [option_w.reason_description, option_w.id ]}.insert(0, ""), @mdelay_record_show.mdelay_reason_two.id), :multiple => false, :style=>"width:185px" %>
					</span>
				<% end
			end %>
		</td>
	</tr>
	<tr>
		<td colspan=2>Consequences : <%= text_area_tag('consequence', @mdelay_record_show.consequence, :cols=>63, :rows=>2) %></td>
	</tr>
	<tr>
		<td>Initial date : <%= text_field_tag('initial_date', @mdelay_record_show.initial_date.to_s, {:size=>9}) %> (dd/mm/yyyy)</td>
		<td>Current date : <%= text_field_tag('current_date', @mdelay_record_show.current_date.to_s, {:size=>9}) %> (dd/mm/yyyy)</td>
	</tr>
	<tr>
		<td>Validation date : <%= text_field_tag('validation_date', @mdelay_record_show.validation_date.to_s, {:size=>9}) %> (dd/mm/yyyy)</td>
		<td>Validated by : <%= text_field_tag('validated_by', @mdelay_record_show.validated_by, {:size=>21}) %></td>
	</tr>
	<tr>
		<td colspan=2>Comments : <%= text_area_tag('comments', @mdelay_record_show.comments, :cols=>66, :rows=>2) %></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<%= hidden_field_tag('project_id', @mdelay_record_show.project.id) %>
			<%= submit_tag "Validate" %>
		</td>
	</tr>
</table>
</form>

