<!-- Javascript -->
<script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var $j = jQuery.noConflict();
</script>
<script src="/javascripts/jquery-ui-1.10.4.min.js"></script>
<link rel="stylesheet" href="/stylesheets/jquery-ui-1.10.4.css" />

<style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
 </style>


<script type="text/javascript">
  $j( document ).ready(function() {
  	// Sortable
    $j( "#sortable" ).sortable(({
  		update: function( event, ui ) {
  			check_milestones_order();
  		}
	}));

    // Milestone name select
    $j( ".select_milestone_name" ).change(function() {
    	change_milestone_name($j(this).val(), $j(this).attr("id").split("_")[1]);
   	});

    // Milestone name textfield change save
    $j(".button_milestone_name").click(function() {
    	var id = $j(this).attr("id").split("_")[1];
    	var textfield_value = $j("#textfield_" + id).val();
    	change_milestone_virtual_name(textfield_value, $j(this).attr("id").split("_")[1])
    });

    // Milestone is virtual
    $j(".checkbox_milestone_name").click(function() {
    	change_milestone_is_virtual($j(this).prop('checked'), $j(this).attr("id").split("_")[1]);
    });
  });

function check_milestones_order() {
	var order_array = new Array();
	$j(".milestone-element").each(function(i, obj) {
    	order_array.push($j(this).attr("id").split("_")[1]);
	});

	$j.ajax({
		type: "POST",
		url: "/projects/milestones_order_change",
 		data: {milestones : order_array}
	})
	.done(function( msg ) {
		alert( "Milestones order change saved");
	})
}

function change_milestone_name(param_milestone_name_id, param_milestone_id) {
	$j.ajax({
		type: "POST",
		url: "/projects/milestones_name_change",
 		data: {milestone_name_id : param_milestone_name_id, milestone_id : param_milestone_id}
	})
	.done(function( msg ) {})
}

function change_milestone_virtual_name(param_milestone_name, param_milestone_id) {
	$j.ajax({
		type: "POST",
		url: "/projects/milestone_virtual_name_change",
 		data: {milestone_name : param_milestone_name, milestone_id : param_milestone_id}
	})
}

function change_milestone_is_virtual(param_milestone_is_virtual, param_milestone_id) {
	console.log(param_milestone_is_virtual);
	if (param_milestone_is_virtual) {
		$j("#select_"+param_milestone_id).hide();
		$j("#textfield_"+param_milestone_id).show();
		$j("#button_"+param_milestone_id).show();
	} else {
		$j("#select_"+param_milestone_id).show();
		$j("#textfield_"+param_milestone_id).hide();
		$j("#button_"+param_milestone_id).hide();
	}

	// $j.ajax({
	// 	type: "POST",
	// 	url: "/projects/milestone_virtual_name_change",
 // 		data: {milestone_name : param_milestone_name, milestone_id : param_milestone_id}
	// })
}

</script>

<!-- Lifecycle choice -->
<% if @current_milestone_index == nil or @min_index_order == -1 or @current_milestone_index < @min_index_order %>
	<div id="lifecycle_choice">
	Lifecycle : 
	<% form_tag(:action=>'lifecycle_change') do %>
	  <%= select_tag ("lifecycle_id",options_for_select(@lifecycles,@project.lifecycle))  %>
	  <%= hidden_field_tag('project_id', @project.id) %>
	  <%= submit_tag('Select') %>
	<% end %>
	</div>
<% end %>

<!-- Buttons -->
	<!-- New milestone (add with last order + 1) -->

<!-- Milestones -->
<ul id="sortable">
<% @project.sorted_milestones.each do |m| %>
	<li id="li_<%= m.id.to_s %>" class="milestone-element ui-state-default" style="background-color:green;margin-bottom:5px;padding:5px;height:50px;">
		<%= m.id.to_s %>
		<!-- Milestone Name -->
		<%= select_tag ("milestone_id",options_for_select(@milestones_name,@milestones_name_hash[m.name]), :class => 'select_milestone_name', :id => "select_"+m.id.to_s )  %>
		<!-- Milestone textfield -->
		<%= text_field_tag('milestone_name', m.name, :id=>"textfield_"+m.id.to_s, :class=>'textfield_milestone_name') %>
		<%= submit_tag "Save", :id => "button_"+m.id.to_s, :class=>'button_milestone_name' %>
		<!-- Milestone is virtual -->
		Is virtual : <%= check_box_tag 'Virtual', 'Virtual', m.is_virtual, :id => "checkbox_"+m.id.to_s, :class=>'checkbox_milestone_name' %>
	</li>
<% end %>
</ul>