<SCRIPT type="text/javascript">
function setShowIgnore(object) {
	window.location.replace("/projects/update_spider_configuration?project_id=<%= @project.id.to_s %>&deviation_spider="+object.value)  
}
</SCRIPT>
<h3>Project Spider Configuration</h3>

<p>Deviation spider :
	<% if @project.deviation_spider %>
		<%= radio_button_tag "deviation_spider", :false,  false, {:onclick=>"setShowIgnore(this);"} %> No
		<%= radio_button_tag "deviation_spider", :true, true, {:onclick=>"setShowIgnore(this);"} %> Yes
	<% else %>
		<%= radio_button_tag "deviation_spider", :false,  true, {:onclick=>"setShowIgnore(this);"} %> No
		<%= radio_button_tag "deviation_spider", :true, false, {:onclick=>"setShowIgnore(this);"} %> Yes
	<% end %>
</p>

<p>Last import : <%= @last_import_date %></p>

<!-- <table>
<tr>
	<th>Deliverable</th>
	<th>Answer 1</th>
	<th>Answer 2 </th>
	<th>Answer 3</th>
	<th>Justification</th>
</tr>
</table> -->