<tr>
  <!-- #WS -->
  <td><%= risk.project.workstream.to_s %></td>

  <!-- #Project -->
  <td>
    <%= risk.project.project_name %>
  </td>

  <!-- #WP -->
  <td>
    <%= link_to(risk.project.name, :controller=>'projects', :action=>'show', :id=>risk.project.id) %>
  </td>

  <!-- #Criticallity -->
  <td align="center" bgcolor="<%= risk.get_severity_color %>"><%= risk.severity %></td>

  <!-- #Created_at -->
  <td><%= risk.created_at.strftime("%d/%m/%Y") %></td>

  <!-- #Last update -->
  <td><%= time_ago_in_words(risk.updated_at) %></td>

  <!-- #Context -->
  <td><%= my_simple_format(risk.context) %></td>

  <!-- #Risk -->
  <td><%= my_simple_format(risk.risk) %></td>

  <!-- #Consequence -->
  <td><%= my_simple_format(risk.consequence) %></td>

  <!-- #Action -->
  <td><%= my_simple_format(risk.actions) %></td>

  <!-- #Is quality -->
  <% if risk.is_quality %>
    <td>Yes</td>
  <% else %>
    <td>No</td>
  <% end %>
</tr>