<script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>

<script src="/javascripts/highcharts/highcharts.js" type="text/javascript"></script>  
<script src="/javascripts/highcharts/highcharts-more.js" type="text/javascript"></script>  
<script src="/javascripts/highcharts/exporting.js" type="text/javascript"></script>  
<script src="/javascripts/highcharts/lesson_chart.js" type="text/javascript"></script>  


<script type="text/javascript"> 
$(function () {
	// Parameters
	var axes_array = Array();
	var series = Array();

	var plot_number 	= <%= @axes_data.count %>;
	var chart_height 	= $("#axe_chart_container_id").height();
	var margin_top 		= 40;
	var margin_bottom	= 50;
	var chart_space		= chart_height - margin_top - margin_bottom;
	var plot_height		= chart_space / plot_number;

	var pie_position_y 	= (plot_height / 2);
	var pie_y_padding 	= plot_height;
	var pie_position_x  = 850;


	// Axes object
	var axes_object  = Object();
	axes_object.type = 'bar';
	axes_object.name = 'Axes';
	axes_object.data = Array();

	axes_object.dataLabels = { 
		enabled: true, 
		align: 'right',
		color: '#FFFFFF', 
		x: -10,
        style: {
            fontWeight: 'bold',
            fontSize: '24px'
        }
    };

	var datasource = Array();
	<% @axes_data.each do |a_key, a_value| %>
		// Axe legend
		axes_array.push("<%= a_key %>".replace(/_/g, "<br />"));

		// Sub axe object
		var sub_axes_object  = Object();
		sub_axes_object.type = 'pie';
		sub_axes_object.name = "<%= a_key %>";
		sub_axes_object.data = Array();
	    sub_axes_object.center = [pie_position_x, pie_position_y];
	    sub_axes_object.size = 80;
	    sub_axes_object.showInLegend = false;
	    sub_axes_object.dataLabels = { 
	    	enabled: true, 
	    	distance:30, 
	    	userHtml:true,
	    	style: {
            	fontWeight: 'bold'
            }
        };
		sub_axes_object.allowPointSelect = true;
		sub_axes_object.cursor = "pointer";


		<% a_value.each do |s_a_key, s_a_value| %>
			<% if s_a_key == "value" %>
				var data_object = Object();
				data_object.y   = parseInt(<%= s_a_value %>);		
				data_object.color = Highcharts.getOptions().colors[parseInt(Math.floor(Math.random()*9))];
				axes_object.data.push(data_object);
			<% else %>
				// Label splited each three spaces
				var sub_axe_data_name_initial = "<%= s_a_key %>";
				var sub_axe_data_name_array = sub_axe_data_name_initial.split(" ");
				var sub_axe_data_name = "";
				for (var i = 0; i < sub_axe_data_name_array.length; i++) {
					if (i != 0 && i % 3 == 0) {
						sub_axe_data_name += "<br />";
					}
					else if(i != 0) {
						sub_axe_data_name += " ";
					}
					sub_axe_data_name += sub_axe_data_name_array[i];
				}

				// Data object
				var data_object 	= Object();
				data_object.y 	 	= parseInt(<%= s_a_value %>);
				data_object.name 	= sub_axe_data_name;
				sub_axes_object.data.push(data_object);
			<% end %>
		<% end %>

		// if(sub_axes_object.data.length == 0) {
		// 		var data_object 	= Object();
		// 		data_object.y 	 	= parseInt(1);
		// 		data_object.name 	= "FAKE";
		// 		sub_axes_object.data.push(data_object);
		// }
		series.push(sub_axes_object);
		pie_position_y += pie_y_padding;
	<% end %>
	series.push(axes_object);

	generate_lesson_complex_chart("axe_chart_container_id", "Axes", axes_array, series);
});
</script>

<div class="axe_chart" id="axe_chart_container_id" style="height:1500px;width:1200px;"></div>

