<%= render(:file=>"lesson_collects/menu", :locals=>{:dashboard => 1}) %>

<h3>General</h3>
	<p>Last time your downloaded this file: <%= @last_download.download_date.strftime('%Y-%m-%d %H:%M:%S')  if @last_download %> </p>
	<p>Ticket: <%= @lesson_collect_file.request.summary if @lesson_collect_file.request %></p>
	
	<p>Lines:</p>
	<ul>
		<li>Collects: <%= @lesson_collect_file.lesson_collects.count.to_s %></li>
		<li>Actions: <%= @lesson_collect_file.lesson_collect_actions.count.to_s %></li>
		<li>Assessments: <%= @lesson_collect_file.lesson_collect_assessments.count.to_s %></li>
	</ul>
<h3>Detail Form</h3>
<% form_for :@lesson_collect_file, :url=>{:action=>'lesson_collect_file_comment_update'} do |f| -%>
	Archivé:  <%= check_box :lesson_collect_file, :is_archived %><br />
	Commentaire:<br />
	<%= hidden_field(:lesson_collect_file, :id) %>
	<%= text_area :lesson_collect_file, :comment, {:rows=>3} %><br />
  	<%= submit_tag 'Save' %></p>
<% end -%>

<h3>Axes</h3>
<ul>
<% @lesson_collect_file.get_axes.each do |a| %>
	<li><%= a %></li>
<% end %>
</ul>

<h3>Sub-Axes</h3>
<ul>
<% @lesson_collect_file.get_sub_axes.each do |sa| %>
	<li><%= sa %></li>
<% end %>
</ul>

<h3>Jalons</h3>
<ul>
<% @lesson_collect_file.get_milestones.each do |m| %>
	<li><%= m %></li>
<% end %>
</ul>

<h3>RISE</h3>
Number of lines : <%= @lesson_collect_file.get_rise.count.to_s %>