<%= render(:file=>"lesson_collects/menu", :locals=>{:dashboard => 1}) %>

<fieldset>
<legend>General</legend>
	<p>Type : <%= @lesson_collect_file.lesson_collect_template_type ? @lesson_collect_file.lesson_collect_template_type.name : "N/A" %></p>
	<p>Last import : <%= @lesson_collect_file.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
	<p>Last time your downloaded this file: <%= @last_download.download_date.strftime('%Y-%m-%d %H:%M:%S')  if @last_download %> </p>
	<p>Ticket: <%= @lesson_collect_file.request.summary if @lesson_collect_file.request %></p>
	<% if current_user.is_cpdp %>
		<p>
			Ticket Actions :
			[<%= link_to("Unlink", {:controller=>'lesson_collects', :action=>'unlink_to_request', :lesson_collect_file_id=>@lesson_collect_file.id.to_s}) %>]
			[<%= link_to("Link to another request", {:controller=>'lesson_collects', :action=>'link_request', :id=>@lesson_collect_file.id.to_s}) %>]
		</p>
	<% end %>

	<p>Lines:</p>
	<ul>
		<li>Collects: <%= @lesson_collect_file.lesson_collects.count.to_s %></li>
		<li>Actions: <%= @lesson_collect_file.lesson_collect_actions.count.to_s %></li>
		<li>Assessments: <%= @lesson_collect_file.lesson_collect_assessments.count.to_s %></li>
	</ul>
</fieldset>

<fieldset>
<legend>Detail Form</legend>
<% form_for :@lesson_collect_file, :url=>{:action=>'lesson_collect_file_comment_update'} do |f| -%>
	
	<% if current_user.is_cpdp or !@lesson_collect_file.is_archived %>
		Archive:  <%= check_box :lesson_collect_file, :is_archived %><br />
	<% end %>
	Comment:<br />
	<%= hidden_field(:lesson_collect_file, :id) %>
	<%= text_area :lesson_collect_file, :comment, {:rows=>3} %><br />
  	<%= submit_tag 'Save' %></p>
<% end -%>
</fieldset>

<fieldset>
<legend>Axes</legend>
<ul>
<% @lesson_collect_file.get_axes.each do |a| %>
	<li><%= a %></li>
<% end %>
</ul>
</fieldset>

<fieldset>
<legend>Sub-Axes</legend>
<ul>
<% @lesson_collect_file.get_sub_axes.each do |sa| %>
	<li><%= sa %></li>
<% end %>
</ul>
</fieldset>

<fieldset>
<legend>Jalons</legend>
<ul>
<% @lesson_collect_file.get_milestones.each do |m| %>
	<li><%= m %></li>
<% end %>
</ul>
</fieldset>

<fieldset>
<legend>RISE</legend>
Number of lines : <%= @lesson_collect_file.get_rise.count.to_s %>
</fieldset>