<script language="Javascript">

function change_squad(squad_id) {
  if(location.toString().indexOf("index") !== -1)
  {
	location.replace("index?squad="+squad_id);
  }
  else
  {
	location.replace("squads/index?squad="+squad_id);
  }
}

</script>

<h2>Squad <%= select_tag('Squad', options_for_select(@squads.map{|s| [s.name,s.id]}, :selected => @current_squad.id), {:onchange=>"change_squad(this.value);"}) %></h2>

<br/>
<h3>Workload view</h3>

<p>Number of person linked to this squad: <strong><%= @persons.size.to_s %></strong></p>

<table class="pdc_table">

<tr>
	<th>Name</th>
	<th>Next 5 weeks</th>
	<th>Next 3 months</th>
	<th>Avail 8 weeks</th>
</tr>

<% @workloads.each do |workload| %>
<tr class="pdc_tr">
	<td class="pdc_td_title"><a href='/workloads/?person_id=<%= workload.person.id %>'><%= workload.person.name %></a></td>
	<% if workload.next_month_percents.to_i > 105 %>
		<td class="pdc_td_red">
	<% elsif workload.next_month_percents.to_i < 90 %>
		<td class="pdc_td_orange">
	<% else %>
		<td class="pdc_td">
	<% end %>
	<%= workload.next_month_percents %>%</td>
	<td class="pdc_td"><%= workload.three_next_months_percents %>%</td>
	<td class="pdc_td"><%= workload.sum_availability.round %></td>
</tr>
<% end %>

<tr class="pdc_tr">
	<td class="pdc_td"></td>
</tr>

<tr class="pdc_tr">
	<td class="pdc_td_total_title">Total</td>
	<td class="pdc_td_total<%=@totals_color%>"><%= @totals_5_weeks %>%</td>
	<td class="pdc_td_total"><%= @totals_3_months %>%</td>
	<td class="pdc_td_total"></td>
</tr>

<tr class="pdc_tr">
	<td class="pdc_td_total_title">Capped total</td>
	<td class="pdc_td_total<%=@cap_totals_color%>"><%= @cap_totals_5_weeks %>%</td>
	<td class="pdc_td_total"><%= @cap_totals_3_months %>%</td>
	<td class="pdc_td_total"></td>
</tr>

<tr class="pdc_tr">
	<td class="pdc_td_total_title">Availability</td>
	<td class="pdc_td_total"></td>
	<td class="pdc_td_total"></td>
	<td class="pdc_td_total"><%= @avail_totals %></td>
</tr>

</table>