
<SCRIPT language="Javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
google.setOnLoadCallback(drawChartTwo);

function change_score(consolidation_temp_id, value)
{
	$.ajax({
		type: "POST",
		url: "/svt_deviation_spiders/update_score",
 		data: {deviation_spider_consolidation_temp_id: consolidation_temp_id, deviation_spider_consolidation_temp_score: value}
	})
	.done(function( msg ) {
		var conso_id = "#" + consolidation_temp_id
		$(conso_id).val('');

		document.getElementById('pie_update_warning').style.visibility = 'visible';
	})
	.fail(function() 
	{ 
		alert("Error");
	})
}

function drawChart() {

	var maturity = <%= @maturity %>
	var rest = 100 - maturity

	var data = google.visualization.arrayToDataTable([
	  ['Maturity', 'Percent'],
	  ['Projects/Suite activities maturity reached for the current phase', maturity],
	  ['Delta', rest]
	]);

	var options = {
	  title: 'Activities maturity reached for the current phase',
	  pieHole: 0.5,
	  'width':450,
	  'height':350,
	  slices: {
	    0: { color: 'green' },
	    1: { color: 'orange' }
	  }
	};

	var chart = new google.visualization.PieChart(document.getElementById('piechart'));

	google.visualization.events.addListener(chart, 'ready', function () {
	    piechart.innerHTML = '<img src="' + chart.getImageURI() + '">';
	    console.log(piechart.innerHTML);
	  });


	chart.draw(data, options);
}

function drawChartTwo() {

	var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" } ],
        ["Copper", 8.94, "#b87333"],
        ["Silver", 10.49, "silver"],
        ["Gold", 19.30, "gold"],
        ["Platinum", 21.45, "color: #e5e4e2"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Density of Precious Metals, in g/cm^3",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("histochart"));
      chart.draw(view, options);
}

//Open
$( document ).ready(function() {
	$(".conso_tf").focusout(function() {
		$.ajax({
			type: "POST",
			url: "/svt_deviation_spiders/update_justification",
	 		data: {deviation_spider_consolidation_temp_id: $(this).attr('id'), deviation_spider_consolidation_temp_justification: $(this).val()}
		})
		.done(function( msg ) {
		})
		.fail(function() 
		{ 
			alert("Error");
		})
	});
});


</SCRIPT>

<% if @editable %>
	<div><%= link_to "Back to spider", {:action => "index", :milestone_id => @deviation_spider.milestone_id} %></div>
	<br/>
<% else %>
	<div><%= link_to "Back to project", {:controller=>'projects', :action => "show", :id => @deviation_spider.milestone.project_id} %></div><br/>
<% end %>

<h2>Caption</h2>
<table><tr><td>
0: Deliverable expected - Project did not produce Deliverable without appropriate justification<br/>
1: Deliverable expected - Project did not produce Deliverable with appropriate justification<br/>
2: Deliverable expected - Project produced Deliverable using a different template from the referential one<br/>
3: Deliverable expected - Project produced Deliverable with the expected template<br/>
</td><td>&nbsp;&nbsp;&nbsp;</td><td>
0: Deliverable not expected - Project did not produce the deliverable and it was not justified<br/>
1: Deliverable not expected - Project did not produce the deliverable and it was justified<br/>
2: Deliverable not expected - Project did produce the deliverable using a different template from the referential one<br/>
3: Deliverable not expected - Project did produce the deliverable using the referential template<br/>
</td></tr></table>

<h2>Deviation table</h2>

<% @all_meta_activities.each do |meta_activity| %>
<% activities = Array.new %>
	<h3><%= meta_activity.name %></h3>
	<table class="consolidation_table">

	<tr class="consolidation_tr_activity">
	<td>
		<table width=210><tr><td></td></tr></table>
	</td>
	<% @all_activities.each do |activity| %>
		<% if activity.svt_deviation_meta_activity == meta_activity %>
		<% activities << activity %>
			<td colspan=2 class="consolidation_td_activity">
			<bold><%= activity.name %></bold>
			</td>
		<% end %>
	<% end %>
	</tr>

	<% is_visible = false %>
	<% @deliverables.each do |deliverable| %>
		<% consolidation_temp = @consolidations.select {|conso_temp| conso_temp.deliverable == deliverable} %>

		<% activities.each do |activity| %>
			<% if consolidation_temp %>
				<% consolidation = consolidation_temp.find {|conso| conso.activity == activity} %>
				<% if consolidation %>
					<% is_visible = true %>
					<% break %>
				<% end %>
			<% end %>
		<% end %>

		<% if is_visible == true %>
			<tr class="consolidation_tr_deliverable">
				<td class="consolidation_td_deliverable">
					<%= deliverable.name %>
				</td>
				<% activities.each do |activity| %>
					<% if consolidation_temp %>
						<% consolidation = consolidation_temp.find {|conso| conso.activity == activity} %>
						<% if consolidation %>
							<% if @editable %>
								<td class="consolidation_td_deliverable_left">
									<%= select_tag('choose_score', options_for_select(@score_list, consolidation.score.to_i), {:onchange=>"change_score(#{consolidation.conso_id.to_s}, this.value);"}) %>
								</td>
								<td class="consolidation_td_deliverable_right">
									<%= text_area_tag('justification_tf', consolidation.justification, :cols=>21, :rows=>1, :id=>"#{consolidation.conso_id.to_s}", :class=>"conso_tf") %>
								</td>
							<% else %>
								<td class="consolidation_td_deliverable_left">
									<%= select_tag('choose_score', options_for_select(@score_list, consolidation.score.to_i), {:onchange=>"change_score(#{consolidation.conso_id.to_s}, this.value);", :disabled => true}) %>
								</td>
								<td class="consolidation_td_deliverable_right">
									<%= text_area_tag('justification_tf', consolidation.justification, {:cols=>21, :rows=>1, :id=>"#{consolidation.conso_id}", :class=>"conso_tf", :disabled=>true}) %>
								</td>
							<% end %>
						<% else %>
							<td><%= select_tag('choose_score', options_for_select(@score_list, 0), {:onchange=>"change_score('0'}, this.value);", :visible=>false, :disabled => true}) %></td>
							<td><%= text_field_tag('justification_tf', "", {:cols=>20, :rows=>1, :id=>"0", :class=>"conso_tf", :visible=>false, :disabled => true}) %></td>
						<% end %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
		<% is_visible = false %>
	<% end %>
	</table>
<% end %>
<br/><br/>

<h2>Export Deviation <span style="font-weight:normal; font-size:13px">- To be added to Quality Slide  (Pie+Excel export)</span></h2>
<div class="pie_update_warning" id="pie_update_warning">
	The current pie is not up to date, please click on the submit to refresh it.
	<%= button_to "Refresh pie", {:action => "consolidate_interface", :deviation_spider_id => @deviation_spider.id, :editable => @editable} %>
</div>
<table>
	<tr><td colspan=2 style="border:1px outset black;">
		<div id="piechart" style="width: 450px; height: 350px;"></div>
		</td>
		<td>
			<div id="histochart" style="width: 450px; height: 350px;"></div></td>
	</tr>
	<tr>
		<td>Bilan Deviation assessment: </td>
		<td><%= button_to "Excel export", {:action => "export_deviation_excel", :project_id => @deviation_spider.milestone.project.id, :milestone_name => @deviation_spider.milestone.name, :deviation_spider_id => @deviation_spider.id} %></td>
	</tr>
</table>

<br/>

<h2>Consolidation process</h2>
<% if @editable %>
<%= button_to "Consolidate", {:action => "consolidate_validation", :deviation_spider_id => @deviation_spider.id} %>
<% end %>