<SCRIPT language="Javascript">
function change_meta_activity(meta_activity_id)
{
	location.replace(generate_url("index?milestone_id=<%= @milestone.id.to_s %>&meta_activity_id="+meta_activity_id));
}

function generate_url(action_name) {
  if(location.toString().indexOf("index") !== -1)
  {
	return action_name;
  }
  else
  {
	return "deviation_spiders/" + action_name;
  }
}

function set_question(question_id, checked)
{
	$.ajax({
		type: "POST",
		url: "/deviation_spiders/update_question",
 		data: {deviation_spider_value_id: question_id, deviation_spider_value_answer: checked}
	})
	.done(function( msg ) {
		var button_yes_id = "#button_yes_"+question_id;
		var button_no_id = "#button_no_"+question_id;
		if (checked == true) {
			$(button_yes_id).attr('class', 'answer_button_select');
			$(button_no_id).attr('class', 'answer_button');
		} else {
			$(button_yes_id).attr('class', 'answer_button');
			$(button_no_id).attr('class', 'answer_button_select');
		}
	})
	.fail(function() 
	{ 
		alert("Error");
	})
}
</SCRIPT>

<% if @last_spider == nil %>
	<%= button_to "Create new spider", {:action => "create_spider", :milestone_id => @milestone.id }, :method => :post %> 
<% else %>
	<div style="float:left;">Meta Activity : <%= select_tag('choose_meta_activity', options_for_select(@meta_activities, @meta_activity_id.to_i), {:onchange=>"change_meta_activity(this.value)"}) %></div>
	<div><%= button_to "Consolidate", {:action => "consolidate_spider", :deviation_spider_id => @last_spider.id} %></div>
	<br />

	<% form_tag(:action=>'add_spider_deliverable') do %>
	  Deliverables :
	  <%= hidden_field_tag('deviation_spider_id', @last_spider.id) %>
	  <%= select_tag ("deviation_deliverable_id", options_for_select(@deliverables_to_add))  %>
	  <%= submit_tag('Add to spider') %>
	<% end %>

	<% table_activity = nil %>
	<% table_deliverable = nil %>
	<% @questions.each do |q| %>

		<!-- ACTIVITY -->
		<% if table_activity == nil or table_activity != q.deviation_question.deviation_activity_id %>
			<% if table_activity != nil %>
				</table>
			<% end %>
			<table class="deviation_spider_table">
			<tr>
				<td><%= q.deviation_question.deviation_activity.name %></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<% table_activity 		= q.deviation_question.deviation_activity_id %>
			<% table_deliverable	= nil %>
		<% end %>

		<!-- DELIVERABLE  -->
		<% if table_deliverable == nil or table_deliverable != q.deviation_spider_deliverable.deviation_deliverable_id %>
			<tr>
				<td></td>
				<td><%= q.deviation_spider_deliverable.deviation_deliverable.name %></td>
				<td>
					<%= button_to "Delete deliverable", {:action => "delete_spider_deliverable", :deviation_spider_deliverable_id => q.deviation_spider_deliverable.deviation_deliverable_id }, :confirm=>"Are you sure you want to delete this deliverable ? It will be deleted in all activities.", :method => :post %> 
				</td>
				<td>
					<%= button_to "Set deliverable to NO", {:action => "set_false_for_spider_deliverable", :deviation_spider_deliverable_id => q.deviation_spider_deliverable.deviation_deliverable_id }, :confirm=>"Are you sure that you want to set all questions in all activities to NO ?", :method => :post %> 
				</td>
				<td></td>
			</tr>
			<% table_deliverable	= q.deviation_spider_deliverable.deviation_deliverable_id %>
		<% end %>

		<!-- QUESTION -->
		<tr>
			<td></td>
			<td></td>
			<td><%= q.deviation_question.question_text %></td>
			<td>  
				<% yes_class = 'class="answer_button"' %>
				<% no_class = 'class="answer_button"' %>
				<% if q.answer %>
					<% yes_class = 'class="answer_button_select"' %>
				<% end %>
				<% if !q.answer and q.answer != nil %>
					<% no_class = 'class="answer_button_select"' %>
				<% end %>

				<input <%= yes_class %> id="button_yes_<%= q.id.to_s %>" type="button" value="Yes" onclick="set_question('<%= q.id.to_s %>', true);" />
				<input <%= no_class %>  id="button_no_<%= q.id.to_s %>"  type="button" value="No" onclick="set_question('<%= q.id.to_s %>', false);" />
			</td>
			<td><%= check_box_tag(:answer_reference, true, q.answer_reference, {:disabled => true}) %></td>
		</tr>
	<% end %>
	</table>


	<div style="float:left;">Meta Activity : <%= select_tag('choose_meta_activity', options_for_select(@meta_activities, @meta_activity_id.to_i), {:onchange=>"change_meta_activity(this.value)"}) %></div>
	<div><%= button_to "Consolidate", {:action => "consolidate_spider", :deviation_spider_id => @last_spider.id} %></div>
	<br />

<% end %>




<h2>History</h2>
<% if @history %>
	<% @history.each { |s|
		spider_name = "Spider [created the "
		spider_name << s.created_at.to_s
		spider_name << "] [Consolidated the "
		spider_name << s.deviation_spider_consolidations.first().created_at.to_s
		spider_name << "]"
	%>
		<%= link_to spider_name, :action => "history_spider" %><br />
	<% } %>
<% end %>
